{%extends "base.html"%}
{%block pageTitle%}About Page{%endblock%}
{%block aboutContent%}
    <div class="about-container" id="about-container">
        <div class="about-title-container" id="about-title-container">
            <h1 class="about-section" id="about-section">
                About Section
            </h1>
        </div>
        <div class="about-information-container" id="about-information-container">
            <p class="about-information" id="about-information">
                As mentioned in the home page, this is my very first Flask Project. Hopefully this is up to standard, however i am only halfway through
                learning Flask, however i believe that this project is up to standard for what i have learnt. I am proud of this project. Here i will list
                my tech stack:
                <ul>
                    <li>
                        Python
                    </li>
                    <li>
                        HTML
                    </li>
                    <li>
                        CSS/SCSS
                    </li>
                    <li>
                        JavaScript
                    </li>
                    <li>
                        Git and Github
                    </li>
                    <li>
                        I am currently learning: Flask and will teach myself Django afterwards.
                    </li>
                </ul>
                I haven't focused on decorating this website as much as i would when it comes to a proper job as this here is just to show and test my
                knowledge of what i have taught myself. I hope that this project is well-made and laid out, i will always aim to improve my coding skills and become better everyday!
            </p>
        </div>
    </div>
{%endblock%}