{%extends "base.html"%}
{%block pageTitle%}Home Page{%endblock%}
{%block homeContent%}
<div class="container" id="container">
    <div class="title-container" id="title-container">
        <h1 class="home">Tom's Flask Website</h1>
    </div>
    <div class="info-container" id="info-container">
        <h4 class="info-title" id="info-title">Website Information</h4>
        <p class="info-text" id="info-text">Welcome to my very first Flask Project! I am teaching myself Flask as i want to pursue a career in ML Engineering or Software Engineering.
            I have a background in the following: HTML, CSS/SCSS, JavaScript, Python and Git/Github. You can view my experience in these within the <a href="https://www.github.com/TPlatts04" target="_blank" class="github-link" id="github-link">Github</a>
            repositories that i have available on my profile. I aim to teach myself Django after Flask for a more robust framework and to create larger projects, after Django
            i want to go and learn Databases (SQL, SQLAlchemy, MongoDB, PostgreSQL) to strengthen my backend knowledge. Following the completion of Databases
            i strive to learn APIs (RESTful API, FastAPI and GraphQL) and DevOps/Cloud such as: Docker, AWS/GCP/Azure and CI/CD. This is a major project of mine
            to teach myself all of this but i believe that i am capable of this and i am to complete all of this learning by December 2025 at the latests. I know that
            this timeline is reasonable for me because i grasp topics easily. I hope this project can prove my knowledge of Flask and Frontend Development!
        </p>
    </div>
</div>
{%endblock%}