{%extends "base.html"%}
{%block pageTitle%}Login Page{%endblock%}
{%block loginContent%}
    <div class="form-container" id="form-container">
        <h1 class="login-title" id="login-title">Login to Tom's Website</h1>
        <form action="" method="post" class="form" id="form">
            <input type="text" class="username" id="username" name="username" placeholder="Username:" required>
            <input type="password" class="password" id="password" name="password" placeholder="Password: " required>
            <input type="submit" class="submit" name="submit" id="submit" value="Login">
        </form>
        <p class="createAccount" id="createAccount">Don't have an account? <a href={{url_for('createAccount')}}>Create one here!</a></p>
    </div>
{%endblock%}